<%- include("header") %>
  <form action="/submit" method="POST">
    Enter Name : <input type="text" name="myname">
    <br><br>
    <input type="submit">
  </form>
  </div>
  </div>
  <div class="row my-3 bg-success">
    <div class="col ">
      <%= message %>
    </div>
  </div>
<%- include("footer") %>