<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>User Page</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum perspiciatis repellendus aperiam esse laudantium magnam incidunt adipisci atque saepe placeat fugiat ea inventore ab doloremque aut quia, voluptatibus consequuntur consequatur. Laudantium ab iste minima! Eaque incidunt commodi inventore fugiat odit. Nostrum error at laboriosam aspernatur.</p>
</body>
</html>